// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a-name: 'a';
$a-x: 0px;
$a-y: 89px;
$a-offset-x: 0px;
$a-offset-y: -89px;
$a-width: 53px;
$a-height: 43px;
$a-total-width: 259px;
$a-total-height: 132px;
$a-image: '../images/sprite/sprite.png?t=1510220483420';
$a: (0px, 89px, 0px, -89px, 53px, 43px, 259px, 132px, '../images/sprite/sprite.png?t=1510220483420', 'a', );
$header-logo-name: 'header-logo';
$header-logo-x: 0px;
$header-logo-y: 0px;
$header-logo-offset-x: 0px;
$header-logo-offset-y: 0px;
$header-logo-width: 259px;
$header-logo-height: 89px;
$header-logo-total-width: 259px;
$header-logo-total-height: 132px;
$header-logo-image: '../images/sprite/sprite.png?t=1510220483420';
$header-logo: (0px, 0px, 0px, 0px, 259px, 89px, 259px, 132px, '../images/sprite/sprite.png?t=1510220483420', 'header-logo', );
$spritesheet-width: 259px;
$spritesheet-height: 132px;
$spritesheet-image: '../images/sprite/sprite.png?t=1510220483420';
$spritesheet-sprites: ($a, $header-logo, );
$spritesheet: (259px, 132px, '../images/sprite/sprite.png?t=1510220483420', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
